<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdvanceJava</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cmc.com.vn.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>cmc.com.vn.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cmc.com.vn.controller.function.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>cmc.com.vn.admin.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserServlet</display-name>
    <servlet-name>GetAllUserServlet</servlet-name>
    <servlet-class>cmc.com.vn.admin.GetAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserServlet</servlet-name>
    <url-pattern>/GetAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllProductServlet</display-name>
    <servlet-name>GetAllProductServlet</servlet-name>
    <servlet-class>cmc.com.vn.admin.GetAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllProductServlet</servlet-name>
    <url-pattern>/GetAllProduct</url-pattern>
  </servlet-mapping>
</web-app>