<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AdvanceJava</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
			/ckfinder/core/connector/java/connector.java
		</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cmc.com.vn.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>cmc.com.vn.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cmc.com.vn.controller.function.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>cmc.com.vn.admin.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/admin/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllUserServlet</display-name>
    <servlet-name>GetAllUserServlet</servlet-name>
    <servlet-class>cmc.com.vn.admin.GetAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllUserServlet</servlet-name>
    <url-pattern>/admin/GetAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllProductServlet</display-name>
    <servlet-name>GetAllProductServlet</servlet-name>
    <servlet-class>cmc.com.vn.admin.GetAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllProductServlet</servlet-name>
    <url-pattern>/admin/GetAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>cmc.com.vn.admin.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/admin/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoAddProductServlet</display-name>
    <servlet-name>DoAddProductServlet</servlet-name>
    <servlet-class>cmc.com.vn.admin.DoAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoAddProductServlet</servlet-name>
    <url-pattern>/admin/DoAddProduct</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AddFilter</display-name>
    <filter-name>AddFilter</filter-name>
    <filter-class>cmc.com.vn.controller.filter.AddFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AddFilter</filter-name>
    <url-pattern>/asdfsadfsd/*</url-pattern>
  </filter-mapping>
</web-app>